<div class="fixed inset-0 w-full min-h-screen overflow-hidden pointer-events-none z-[-1] font-['Poppins']">
  
  <div class="absolute inset-0 bg-[radial-gradient(ellipse_51.01%_137.20%_at_50.00%_41.74%,_#8AD8FF_0%,_white_100%)]"></div>
  
  <div class="absolute left-0 top-0 w-full drop-shadow-[0_4px_70px_rgba(0,0,0,0.50)]">
    <div class="w-full h-[146px] bg-[#6097B2] [clip-path:polygon(0_0,100%_0,100%_70%,50%_100%,0_70%)]"></div>
  </div>
  
  <div class="hidden md:block">
    
    <img src="../../../assets/logos/vector_6.svg" class="absolute left-[70%] top-[40%] w-[728px] h-[701px] object-contain opacity-40 lg:opacity-100 transition-all duration-500" />
    <img src="../../../assets/logos/vector_6.svg" class="absolute left-[-18%] top-[28%] w-[728px] h-[701px] object-contain opacity-40 lg:opacity-100 transition-all duration-500" />

    <img src="../../../assets/imgs/racao_3.png" class="absolute left-[68%] top-[19%] w-[112px] h-[112px] object-contain opacity-30 scale-50 lg:opacity-100 lg:scale-100 transition-all duration-500" />
    <img src="../../../assets/imgs/brinquedo_3.png" class="absolute left-[8%] top-[18%] w-[104px] h-[104px] object-contain opacity-30 scale-50 lg:opacity-100 lg:scale-100 transition-all duration-500" />
    <img src="../../../assets/imgs/bola_3.png" class="absolute left-[12%] bottom-[10%] w-[94px] h-[79px] object-contain opacity-30 scale-50 lg:opacity-100 lg:scale-100 transition-all duration-500" />
    
  </div>

</div>