<div class="w-[1440px] h-[1024px] relative bg-white overflow-hidden font-['Poppins']">
  
  <div class="w-[1440px] h-[1024px] left-0 top-0 absolute bg-white pointer-events-none"></div>

  <div class="pointer-events-none z-0" id="hero-brinquedo-1">
    <img src="../../../assets/logos/vector_1.svg" class="w-[112px] h-[56px] left-[248px] top-[184px] absolute rotate-180" alt="Vetor decorativo" />
    <img src="../../../assets/imgs/brinquedo.png" class="w-20 h-20 left-[342px] top-[250px] absolute origin-top-left rotate-180" alt="Brinquedo" />
  </div>

  <div class="pointer-events-none z-0" id="hero-brinquedo-2">
    <img src="../../../assets/logos/vector_4.svg" class="w-[140px] h-[85px] left-[210px] top-[829px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/imgs/brinquedo.png" class="w-20 h-20 left-[277px] top-[829px] absolute" alt="Brinquedo" />
  </div>

  <div class="pointer-events-none z-0" id="hero-bola-1">
    <img src="../../../assets/logos/vector_3.svg" class="w-16 h-16 left-[608px] top-[712px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/imgs/bola.png" class="w-20 h-20 left-[592px] top-[684px] absolute" alt="Bola" />
  </div>

  <div class="pointer-events-none z-0" id="hero-bola-2">
    <img src="../../../assets/logos/vector_2.svg" class="w-36 h-24 left-[-22px] top-[632px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/imgs/bola.png" class="w-20 h-20 left-[89px] top-[724px] absolute origin-top-left -rotate-180" alt="Bola" />
  </div>

  <div class="pointer-events-none z-0" id="saco-racao-1">
    <img src="../../../assets/logos/vector_3.svg" class="w-16 h-14 left-[752px] top-[458px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/imgs/saco_racao.png" class="w-16 h-16 left-[772px] top-[448px] absolute" alt="Saco Ração" />
  </div>

  <div class="pointer-events-none z-0" id="saco-racao-2">
    <img src="../../../assets/logos/vector_1.svg" class="w-[104px] h-[53px] left-[1272px] top-[928px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/imgs/saco_racao.png" class="w-16 h-16 left-[1307px] top-[917px] absolute" alt="Saco Ração" />
  </div>

  <div class="pointer-events-none z-0" id="racao-1">
    <img src="../../../assets/logos/vector_2.svg" class="w-24 h-16 left-[695px] top-[871px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/imgs/racao.png" class="w-16 h-16 left-[709px] top-[859px] absolute" alt="Ração" />
  </div>

  <div class="pointer-events-none z-0" id="racao-2">
    <img src="../../../assets/logos/vector_4.svg" class="w-[120px] h-[70px] left-[1266px] top-[212px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/imgs/racao.png" class="w-16 h-16 left-[1304px] top-[192px] absolute" alt="Ração" />
  </div>

  <div class="absolute inset-0 pointer-events-none" id="hero-animals">
    <img src="../../../assets/logos/vector_5.svg" class="w-[1200px] h-[800px] left-[480px] top-[120px] absolute" alt="Mancha Azul Decorativa" />
    <img src="../../../assets/imgs/patas.png" class="w-[151px] h-[114.5px] left-[773px] top-[175px] absolute" alt="Patas" />
    <div class="w-[523px] h-[569px] left-[911px] top-[312px] absolute">
      <img src="../../../assets/imgs/cao.png" class="w-[336px] h-[503px] left-[168px] top-[-36px] absolute" alt="Cachorro" />
      <img src="../../../assets/imgs/gato.png" class="w-[392px] h-[522px] left-[-35px] top-[55px] absolute" alt="Gato" />
    </div>
  </div>

  <header class="relative z-10">
    <img src="../../../assets/logos/logo.svg" class="w-20 h-16 left-[120px] top-[65px] absolute" alt="Logo Habitat Pet" />
    <div class="left-[208px] top-[76px] absolute justify-start text-black text-2xl font-medium leading-9 [text-shadow:_0px_4px_4px_rgb(0_0_0_/_0.25)]">Habitat Pet</div>
    
    <button class="w-36 h-11 px-3 py-6 left-[1008px] top-[72px] absolute bg-sky-300 rounded-xl inline-flex justify-center items-center gap-2.5 overflow-hidden">
      <span class="justify-start text-sky-950 text-xl font-bold leading-8">Cadastro</span>
    </button>
    <button class="w-36 h-11 px-3 py-6 left-[1178px] top-[72px] absolute rounded-xl outline outline-4 outline-offset-[-4px] outline-slate-600 inline-flex justify-center items-center gap-2.5">
      <span class="justify-start text-black text-xl font-bold leading-8">Login</span>
    </button>
  </header>

  <main class="relative z-10">
    <h1 class="w-[912px] left-[120px] top-[336px] absolute justify-start text-slate-600 text-6xl font-bold leading-[70.40px]">Cuidado e Bem-estar para o seu melhor amigo</h1>
    <p class="w-[644px] h-24 left-[120px] top-[528px] absolute justify-start text-slate-600 text-2xl font-medium leading-9">Seus pets merecem a melhor qualidade e alimentos saudáveis, que é o que temos para oferecer aos melhores preços.</p>
    
  </main>

  <footer class="relative z-10">
    <div class="left-[628px] top-[952px] absolute justify-start text-black text-xl font-bold leading-8">©2026 Habitat Pet</div>
  </footer>

</div>