<div class="w-[1440px] h-[1024px] relative bg-white overflow-hidden font-['Poppins']">
  
  <div class="w-[1440px] h-[1024px] left-0 top-0 absolute bg-white pointer-events-none"></div>

  <div class="pointer-events-none z-0">
    <img src="../../../assets/logos/vector_5.svg" class="w-[772.99px] h-[460.20px] left-[921.33px] top-[95px] absolute origin-top-left rotate-[38deg] shadow-[0px_4px_70px_0px_rgba(138,216,255,0.80)]" alt="Mancha Azul Decorativa" />
    <img src="../../../assets/logos/vector_1.svg" class="w-24 h-14 left-[1376px] top-[981px] absolute origin-top-left -rotate-180" alt="Vetor decorativo" />
    <img src="../../../assets/logos/vector_1.svg" class="w-28 h-14 left-[248px] top-[184px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/logos/vector_2.svg" class="w-24 h-16 left-[695px] top-[871px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/logos/vector_2.svg" class="w-36 h-24 left-[-22px] top-[632px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/logos/vector_3.svg" class="w-16 h-14 left-[752px] top-[458px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/logos/vector_3.svg" class="w-16 h-16 left-[608px] top-[712px] absolute" alt="Vetor decorativo" />
    <img src="../../../assets/logos/vector_4.svg" class="w-28 h-12 left-[308.29px] top-[917.84px] absolute origin-top-left rotate-[-145deg]" alt="Vetor decorativo" />
    <img src="../../../assets/logos/vector_4.svg" class="w-28 h-12 left-[1355.29px] top-[295.84px] absolute origin-top-left rotate-[-145deg]" alt="Vetor decorativo" />
  </div>

  <div class="pointer-events-none z-0">
    <img src="../../../assets/imgs/patas.png" class="w-11 h-11 left-[784px] top-[250.29px] absolute origin-top-left rotate-[-70deg]" alt="Patas" />
    <img src="../../../assets/imgs/patas.png" class="w-11 h-11 left-[827px] top-[221.29px] absolute origin-top-left rotate-[-70deg]" alt="Patas" />
    <img src="../../../assets/imgs/patas.png" class="w-10 h-10 left-[842px] top-[282.52px] absolute origin-top-left rotate-[-70deg]" alt="Patas" />
    <img src="../../../assets/imgs/patas.png" class="w-9 h-9 left-[887.07px] top-[264.14px] absolute origin-top-left rotate-[-70deg]" alt="Patas" />
    <img src="../../../assets/imgs/brinquedo.png" class="w-20 h-20 left-[277px] top-[829px] absolute" alt="Brinquedo" />
    <img src="../../../assets/imgs/brinquedo.png" class="w-20 h-20 left-[342px] top-[250px] absolute origin-top-left rotate-180" alt="Brinquedo" />
    <img src="../../../assets/imgs/bola.png" class="w-20 h-20 left-[592px] top-[684px] absolute" alt="Bola" />
    <img src="../../../assets/imgs/bola.png" class="w-20 h-20 left-[89px] top-[724px] absolute origin-top-left -rotate-180" alt="Bola" />
    <img src="../../../assets/imgs/saco_racao.png" class="w-16 h-16 left-[772px] top-[448px] absolute" alt="Saco Ração" />
    <img src="../../../assets/imgs/saco_racao.png" class="w-16 h-16 left-[1307px] top-[917px] absolute" alt="Saco Ração" />
    <img src="../../../assets/imgs/racao.png" class="w-16 h-16 left-[709px] top-[859px] absolute" alt="Ração" />
    <img src="../../../assets/imgs/racao.png" class="w-16 h-16 left-[1304px] top-[192px] absolute" alt="Ração" />
  </div>

  <header class="relative z-10">
    <img src="../../../assets/logos/logo.svg" class="w-20 h-16 left-[120px] top-[65px] absolute" alt="Logo Habitat Pet" />
    <div class="left-[208px] top-[76px] absolute justify-start text-black text-2xl font-medium leading-9 [text-shadow:_0px_4px_4px_rgb(0_0_0_/_0.25)]">Habitat Pet</div>
    
    <button class="w-36 h-11 px-3 py-6 left-[1008px] top-[72px] absolute bg-sky-300 rounded-xl inline-flex justify-center items-center gap-2.5 overflow-hidden">
      <span class="justify-start text-sky-950 text-xl font-bold leading-8">Cadastro</span>
    </button>
    <button class="w-36 h-11 px-3 py-6 left-[1178px] top-[72px] absolute rounded-xl outline outline-4 outline-offset-[-4px] outline-slate-600 inline-flex justify-center items-center gap-2.5">
      <span class="justify-start text-black text-xl font-bold leading-8">Login</span>
    </button>
  </header>

  <main class="relative z-10">
    <h1 class="w-[912px] left-[120px] top-[336px] absolute justify-start text-slate-600 text-6xl font-bold leading-[70.40px]">Cuidado e Bem-estar para o seu melhor amigo</h1>
    <p class="w-[644px] h-24 left-[120px] top-[528px] absolute justify-start text-slate-600 text-2xl font-medium leading-9">Seus pets merecem a melhor qualidade e alimentos saudáveis, que é o que temos para oferecer aos melhores preços.</p>
    
    <div class="w-[523px] h-[569px] left-[911px] top-[312px] absolute">
        <img src="../../../assets/imgs/cao.png" class="w-[336px] h-[503px] left-[168px] top-[-36px] absolute" alt="Cachorro" />
        <img src="../../../assets/imgs/gato.png" class="w-[392px] h-[522px] left-[-43px] top-[87px] absolute" alt="Gato" />
    </div>
  </main>

  <footer class="relative z-10">
    <div class="left-[628px] top-[952px] absolute justify-start text-black text-xl font-bold leading-8">©2026 Habitat Pet</div>
  </footer>

</div>