<div class="w-full min-h-screen bg-white flex justify-center">

  <div class="relative w-full max-w-screen min-h-screen overflow-hidden font-['Poppins'] flex flex-col">
    
    <div class="absolute inset-0 pointer-events-none z-0">
      
      <div class="absolute inset-0 bg-sky-300"></div>
      
      <div class="hidden md:block">
        <img src="../../../assets/logos/vector_6.svg" class="absolute left-[-20%] top-[-10%] w-[728px] h-[701px] object-contain rotate-180 opacity-40 lg:opacity-100 transition-all duration-500" />
        <img src="../../../assets/logos/vector_7.svg" class="absolute right-[-10%] bottom-[-10%] w-[935px] h-[550px] object-contain opacity-40 lg:opacity-100 transition-all duration-500" />

        <img src="../../../assets/imgs/bola_2.png" class="absolute left-[37%] top-[4%] w-[117px] h-[117px] object-contain opacity-30 scale-50 lg:opacity-100 lg:scale-100 transition-all duration-500" />
        <img src="../../../assets/imgs/brinquedo_2.png" class="absolute right-[17%] top-[29%] w-[80px] h-[80px] object-contain opacity-30 scale-50 lg:opacity-100 lg:scale-100 transition-all duration-500" />
        <img src="../../../assets/imgs/saco_racao_2.png" class="absolute left-[8%] top-[70%] w-[122px] h-[122px] object-contain opacity-30 scale-50 lg:opacity-100 lg:scale-100 transition-all duration-500" />
        <img src="../../../assets/imgs/patas_3.png" class="absolute left-[23%] top-[60%] w-[117px] h-[119px] object-contain opacity-30 scale-50 lg:opacity-100 lg:scale-100 transition-all duration-500" />
      </div>

    </div>

    <header class="relative z-10 flex flex-col md:flex-row items-center justify-between w-full px-6 py-6 md:px-16 lg:px-[140px]">
      <app-header></app-header>
      <div class="flex gap-4 mt-6 md:mt-0 pointer-events-auto"></div>
    </header>

    <main class="relative z-10 flex-1 flex flex-col justify-center items-center px-6 md:px-16 py-12 md:py-0 w-full pointer-events-auto">
      
      <div class="w-full max-w-[600px] bg-white rounded-[20px] shadow-2xl flex flex-col items-center p-8 sm:p-14 gap-6">
        
        <h1 class="w-full text-slate-600 text-4xl font-semibold mb-2 text-center">
          Login
        </h1>

        <form class="flex flex-col gap-5 w-full">
          
          <div class="relative w-full flex flex-col gap-1">
            <label class="text-zinc-500 text-xs font-medium pl-4 pointer-events-none">E-mail</label>
            <input type="email" class="w-full h-11 rounded-2xl border-2 border-zinc-500 bg-transparent px-4 pr-10 focus:outline-none focus:border-sky-500 text-sm text-sky-950" />
            <img src="../../../assets/imgs/envelope.png" class="absolute right-4 top-[26px] w-4 h-4 pointer-events-none" />
          </div>

          <div class="relative w-full flex flex-col gap-1">
            <label class="text-zinc-500 text-xs font-medium pl-4 pointer-events-none">Senha</label>
            <input [type]="showPassword ? 'text' : 'password'" class="w-full h-11 rounded-2xl border-2 border-zinc-500 bg-transparent px-4 pr-10 focus:outline-none focus:border-sky-500 text-sm text-sky-950" />
            <img [src]="showPassword ? '../../../assets/imgs/olho.png' : '../../../assets/imgs/olho_fechado.png'" (click)="showPassword = !showPassword" class="absolute right-4 top-[26px] w-4 h-4 cursor-pointer hover:opacity-80 transition-opacity" />
          </div>

          <div class="flex flex-row items-center justify-between w-full mt-1">
            <label class="flex items-center gap-2 cursor-pointer">
              <input type="checkbox" class="w-4 h-4 rounded-sm border border-zinc-500 cursor-pointer accent-sky-500" />
              <span class="text-black text-xs font-medium font-['Poppins']">Lembrar - me</span>
            </label>
            <a routerLink="/recuperar-senha" class="text-black text-xs font-medium font-['Poppins'] hover:underline cursor-pointer">Esqueceu a senha?</a>
          </div>

          <div class="flex flex-col sm:flex-row gap-4 w-full mt-4">
            <button type="submit" class="w-full sm:w-1/2 h-12 bg-sky-300 rounded-xl flex justify-center items-center hover:bg-sky-400 hover:scale-[1.02] transition-all cursor-pointer shadow-sm">
              <span class="text-slate-600 text-xl font-bold font-['Poppins']">Entrar</span>
            </button>
            <button routerLink="/cadastro" type="button" class="w-full sm:w-1/2 h-12 rounded-xl outline outline-4 outline-offset-[-4px] outline-slate-600 flex justify-center items-center hover:bg-slate-50 hover:scale-[1.02] transition-all cursor-pointer shadow-sm">
              <span class="text-black text-xl font-bold font-['Poppins']">Cadastrar</span>
            </button>
          </div>

        </form>

        <div class="flex items-center gap-4 w-full my-2">
          <div class="flex-1 h-[2px] bg-black opacity-30"></div>
          <span class="text-black text-xl font-bold font-['Poppins']">Ou</span>
          <div class="flex-1 h-[2px] bg-black opacity-30"></div>
        </div>

        <div class="flex justify-center items-center gap-20 w-full mb-2">
          <button class="w-[72px] h-[72px] hover:scale-105 transition-transform cursor-pointer bg-transparent p-0 border-none outline-none">
            <img class="w-full h-full object-contain" src="../../../assets/icons/Google.png" alt="Google" />
          </button>
          <button class="w-[72px] h-[72px] hover:scale-105 transition-transform cursor-pointer bg-transparent p-0 border-none outline-none">
            <img class="w-full h-full object-contain" src="../../../assets/icons/Facebook.png" alt="Facebook" />
          </button>
        </div>

      </div>

    </main>

    <app-footer></app-footer>

  </div>
</div>